body {
  margin: 0;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.head__icons {
  text-decoration: none;
  list-style: none;
  display: flex;
} 

.head__icons li {
  padding: 8px 12px;
}

.head__icons li a {
  text-align: center;
  font-size: 10px;
  color: #485170;
}

.searchform {
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 700px;
  height: 50px;
  background: #f0eeee;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.navbar ul{
  letter-spacing: 0.8px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 15px;
  padding-left: 206px;
  padding-right: 206px;
  font-size: 16px;
  font-weight: 600;
  font-family: "yg750";
  white-space: nowrap;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  color: #000;
  text-align: center;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 480px;
  z-index: 200;
  text-align: center;      
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 16px;
  font-style: normal; 
  font-weight: 600;
  font-family: "yg750";
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
  }

.navbar__menu li:hover ul {
  display: block;
}

.content {
  background-color: #ffffff;
  padding: 50px 12px;
  margin: auto;
}

.domestic__tripp1 h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    margin-bottom: 20px;
}

.domestic__tripp2 h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    margin-bottom: 20px;
}

.domestic__tripp1 {
    height: 350px;
    margin: auto;
}

.domestic__tripp2 {
    height: 350px;
    margin: auto;
}

.tripp1 {
    display: flex;
    justify-content: space-between;
}


.tripimg1 {
  width: 370px;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.tripimg1 img {
  width: 370px;
  height: 250px;
  margin-left: 30px;
}

.tripex1 {
  width: 370px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.tripex1 span {
  text-align: center;
  margin-top: 20px;
  list-style: none;
}

.tripex1 span h3 {
  color: #1032ad;
  font-weight: bold;
  font-size: 20px;
}

.tripex1 span li {
  color: #464545;
  font-size: 15px;
  font-weight: bold;
}

.triploc1 {
  width: 370px;
  height: 300px;
  position: relative;
  margin-right: 20px;
}

.btn1 {
  width: 200px;
  height: 35px;
  text-align: center;
  position: absolute;
  left: 85px;
  bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.btn1 input {
  width: 90px;
  height: 35px;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  border: 2px solid #4169e1;
  border-radius: 5px;
}

.btn1 input:hover {
  color: white;
  background-color: #4169e1;
}

.tripp2 {
    display: flex;
    justify-content: space-between;
}


.tripimg2 {
  width: 370px;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.tripimg2 img {
  width: 370px;
  height: 250px;
  margin-left: 30px;
}

.tripex2 {
  width: 370px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.tripex2 span {
  text-align: center;
  margin-top: 20px;
  list-style: none;
}

.tripex2 span h3 {
  color: #1032ad;
  font-weight: bold;
  font-size: 20px;
}

.tripex2 span li {
  color: #464545;
  font-size: 15px;
  font-weight: bold;
}

.triploc2 {
  width: 370px;
  height: 300px;
  position: relative;
  margin-right: 20px;
}

.btn2 {
  width: 200px;
  height: 35px;
  text-align: center;
  position: absolute;
  left: 85px;
  bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.btn2 input {
  width: 90px;
  height: 35px;
  font-size: 13px;
  font-weight: bold;
  background-color: white;
  border: 2px solid #4169e1;
  border-radius: 5px;
}

.btn2 input:hover {
  color: white;
  background-color: #4169e1;
}

.foot {
  background-color:#485170;
  padding: 10px 20px;
  margin-top: 20px;
}

.foot span {
font-size: 12px;
color: #ddd;
padding: 0 50px;
}

@media screen and (max-width: 768px) {
    .head, .navbar, .content, .foot {
        flex-direction: column;
    }
}