body {
  margin: 0;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.head__icons {
  text-decoration: none;
  list-style: none;
  display: flex;
} 

.head__icons li {
  padding: 8px 12px;
}

.head__icons li a {
  text-align: center;
  font-size: 10px;
  color: #485170;
}

.searchform {
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 700px;
  height: 50px;
  background: #f0eeee;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.navbar ul{
  letter-spacing: 0.8px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 15px;
  padding-left: 207px;
  padding-right: 207px;
  font-size: 16px;
  font-weight: 600;
  font-family: "yg750";
  white-space: nowrap;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  color: #000;
  text-align: center;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 480px;
  z-index: 200;
  text-align: center;    
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 16px;
  font-style: normal; 
  font-weight: 600;
  font-family: "yg750";
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.navbar__menu li:hover ul {
    display: block;
}

.content {
  background-color: #ffffff;
  padding: 50px 12px;
  margin: auto;
}
  
.content h1 {
  font-size: 25px;
  color: gray;
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
  
.signup {
  position: relative;
  margin: auto;
}

table.sign {
  margin: auto;
  width: 1200px;
  height: 400px;
  padding: 20px;
  border-top: 3px solid #7c7b7b;
  border-bottom: 3px solid #7c7b7b;
  border-collapse: collapse;
}

table.sign tr {
  border-bottom: 2px solid lightgray ;
}

table.sign tr th {
  width: 10%;
  font-size: 15px;
}

table.sign td {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

table.sign td input {
  letter-spacing: 1px;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  text-align: center;
  color: #646262;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
}

table.btn {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}


table.btn tr td input {
  font-weight: bold;
  font-size: 15px;       
} 

input.btn1 {
  background-color: #5e2bb8;
  border: 1px solid #5e2bb8;
  color: #fff;
  padding: 15px 50px;
}

input.btn1:hover {
  border: 1px solid #4169e1;
  background: #4169e1;
  color: white;
  transition: all 0.5s;
}

input.btn2 {
  background-color: #5e2bb8;
  border: 1px solid #5e2bb8;
  color: #fff;
  margin-left: 50px;
  padding: 15px 80px;
}
  
input.btn2:hover {
  border: 1px solid #4169e1;
  background: #4169e1;
  color: white;
  transition: all 0.5s;
}

.foot {
  background-color:#485170;
  padding: 10px 20px;
  margin-top: 20px;
}

.foot span {
  font-size: 12px;
  color: #ddd;
  padding: 0 50px;
}
  
  @media screen and (max-width: 768px) {
    .head, .navbar, .content, .foot {
        flex-direction: column;
    }
  }