body {
  margin: 0;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.head__icons {
  text-decoration: none;
  list-style: none;
  display: flex;
} 

.head__icons li {
  padding: 8px 12px;
}

.head__icons li a {
  text-align: center;
  font-size: 10px;
  color: #485170;
}

.searchform {
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 700px;
  height: 50px;
  background: #f0eeee;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.navbar ul{
  letter-spacing: 0.8px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 15px;
  padding-left: 207px;
  padding-right: 207px;
  font-size: 16px;
  font-weight: 600;
  font-family: "yg750";
  white-space: nowrap;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  color: #000;
  text-align: center;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 480px;
  z-index: 200;
  text-align: center;    
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 16px;
  font-style: normal; 
  font-weight: 600;
  font-family: "yg750";
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.navbar__menu li:hover ul {
    display: block;
}

.content {
  background-color: #ffffff;
  padding: 50px 12px;
  margin: 40px;
  margin-bottom: 170px;
}

.content h1 {
  font-size: 30px;
  color: gray;
  padding: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

table {
  border-bottom: 2px solid #7c7b7b;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px; 
  margin-left: auto;
  margin-right: auto;
}

.cartinfo {
  padding: 20px 0;
}

thead tr {
  border-top: 3px solid #7c7b7b;
  border-bottom: 1px solid #7c7b7b;
  padding-top: 50px;
}

thead th {
  height: 68px;
  font-family: "yg750";
  font-size: 15px;
  color: #171717;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #7c7b7b;
  padding: 10px 0;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  height: 68px;
  font-family: "yg750";
  font-size: 14px;
  color: #171717;
  text-align: center;
  vertical-align: middle;
}

.tbody__row1 {
  border-bottom: 1px solid #7c7b7b;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  color: #464545;
}

.travel__info {
  font-size: 16px;
  font-weight: 700;
  color: #1032ad;
}

.travel__date {
  margin-bottom: 25px;
}

.arrial__time {
  margin-top: -10px;
}

.reservation {
  font-size: 15px;
  font-weight: 600;
}

.reservation span {position:relative;  display: inline-block; color:red; letter-spacing: 0.8px;
  animation:txtup 1.5s infinite; -webkit-animation:txtup 1.5s infinite;  -ms-animation:txtup 1.5s infinite;   -moz-animation: txtup 1.5s infinite; 
  }
  .reservation span:nth-of-type(1){animation-delay:0.1s;}
  .reservation span:nth-of-type(2){animation-delay:0.2s;}
  .reservation span:nth-of-type(3){animation-delay:0.3s;}
  .reservation span:nth-of-type(4){animation-delay:0.4s;} 
  .reservation span:nth-of-type(5){animation-delay:0.4s;} 
  @-webkit-keyframes txtup {
      0%{top:0;}
      20% {top:-0.2rem;}
      40% {top:0;}
      60% {top:0;}
      80% {top:0;}
      100% {top:0}
  }
  @keyframes txtup {
      0% {top:0;}
      20% {top:-0.2rem;}
      40% {top:0}
      60% {top:0}
      80% {top:0}
      100% {top:0}
}

.tbody__row2 {
  background-color: #f7f5f5;
}

.total {
  font-size: 15px;
  font-weight: 600px;
  color: #000;
}

#btn__now {
  display: inline-block;
  margin-top: 6px;
  min-width: 70px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "yg750";
  font-weight: 600;
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-align: center;
}

#btn__delete {
  min-width: 70px;
  display: inline-block;
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "yg750";
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #333;
  text-align: center;
}

.btn {
  justify-content: space-between;
}

.btn1 {
  position: relative;
  float: left;
  width: 100px;
  height: 30px;
  border: 1px none gray;
  font-size: 14px;
  font-family: "yg750";
  font-weight: 600;
  text-align: center;
  background-color: #b6b3b3;
  border-color: #b6b3b3;
  border-radius: 5px;
  color: #000;
  margin-left: 15%;
}

.btn1:hover {
  background-color: #485170;
  color: #fff;
}

.btn2 {
  position: relative;
  float: right;
  width: 250px;
  height: 55px;
  border: 1px solid #5e2bb8;
  font-size: 16px;
  font-family: "yg750";
  font-weight: 800;
  text-align: center;
  background-color: #5e2bb8;
  color: #fff;
  margin-top: 90px;
  margin-right: 15%;
}

.btn2:hover {
  border: 1px solid #4169e1;
  background: #4169e1;
  color: #fff;
  transition: all 0.5s;
}

.foot {
  background-color:#485170;
  padding: 10px 20px;
  margin-top: 20px;
}

.foot span {
font-size: 12px;
color: #ddd;
padding: 0 50px;
}
   
@media screen and (max-width: 768px) {
  .head, .navbar, .content, .foot {
    flex-direction: column;
  }
}