body {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  
  .head__logo a {
    font-size: 15px;
    font-weight: bold;
    color: #000080;
  }
  
  .head__logo i {
    color: skyblue;
    font-size: 30px;
  }
  
  .head__btn {
    display: flex;
    justify-content: space-between;
}
  
.btn1 input {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: red;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn1 input:hover {
  background-color: hotpink;
}

.btn2 input {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin-left: 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: gray;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn2 input:hover {
  background: black;
}

  
.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  border-radius: 4px;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;    
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 15px;
  font-style: normal;
  margin: 10px;
  padding: 10px;
  text-align: left;
  }

.navbar__menu li:hover ul {
  display: block;
}

  
  .content {
      background-color: #ffffff;
      padding: 8px 12px;
      margin: auto;
      height: 1000px;
  }
  
  .content h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .edit {
      height: 400px; 
      position: relative;
      margin: auto;
  }

  table.ed {
    border-collapse: collapse;
    text-align: center;
    line-height: 3;
    margin: auto;
    height: 500px;
}

table.ed tbody th {
    width: 200px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #ccc;
    background: lightgray;
    text-align: center;
    font-size: 20px;
}

table.ed tbody td {
    width: 1000px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
    background: white;
}

td input[type=text]{
  width: 1000px;
  height: 60px;
  border: none;
  background-color: white;
  font-size: 15px;
}

input#chooseFile {
visibility: hidden;
}

.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput {
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  width: 60%;
  height: 30px;
}

#fileName {
  margin-left: 5px;
}
  
  .button {
      width: 1000px;
      height: 100px;
      position: relative;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 400px;
      padding: 8px 12px;
  }
  
  .bttn1 {
      width: 200px;
      height: 50px;
      position: relative;
      margin: auto;
      text-align: center;
      padding: 10px;
  }

  .bttn1 input {
    width: 200px;
    height: 50px;
    background-color: white;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid gray;
  }

  .bttn1 input:hover {
    color: white;
    background-color: gray;
  }
  
  .bttn2 {
      width: 200px;
      height: 50px;
      position: relative;
      margin: auto;
      text-align: center;
      padding: 10px;
  } 

  .bttn2 input {
    width: 200px;
    height: 50px;
    background-color: white;
    color: navy;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid navy;
  }

  .bttn2 input:hover {
    color: white;
    background-color: navy;
  }
  
.foot {
  background-color:#485170;
  padding: 10px 20px;
  margin-top: 20px;
}

.foot span {
  font-size: 12px;
  color: #ddd;
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .head, .navbar, .content, .foot {
    flex-direction: column;
  }
}