body {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.head__icons {
  text-decoration: none;
  list-style: none;
  display: flex;
} 

.head__icons li {
  padding: 8px 12px;
}

.head__icons li a {
  text-align: center;
  font-size: 10px;
  color: #485170;
}

.searchform {
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 700px;
  height: 50px;
  background: #f0eeee;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.navbar ul{
  letter-spacing: 0.8px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 15px;
  padding-left: 207px;
  padding-right: 207px;
  font-size: 16px;
  font-weight: 600;
  font-family: "yg750";
  white-space: nowrap;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  color: #000;
  text-align: center;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 480px;
  z-index: 200;
  text-align: center;    
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 16px;
  font-style: normal; 
  font-weight: 600;
  font-family: "yg750";
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.navbar__menu li:hover ul {
    display: block;
}

.content {
  background-color: #ffffff;
  padding: 50px 100px;
  margin: auto;
}

.right__cont {
  float: right;
}

.step__wrap {
  text-align: center;
}

.step__wrap .step {
  display: inline-block;
}

ol, ul, li {
  list-style: none;
  vertical-align: middle;
}

.step__wrap .step li {
  position: relative;
  float: left;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.step__wrap .step li.on {
  color: #5e2bb8;
}

.step__wrap .step li.on .fa.line::before {
  background-position: -27px -365px;
}

.reservation h1 {
  font-size: 20px;
  color: gray;
  border-bottom: 3px solid #7c7b7b;
  padding: 20px;
  margin-bottom: 0;
}

.msg__wrap {
  position: relative;
  display: block;
  padding: 60px 30px 60px 90px;
  background-color: #f7f7f7;
}

.msg__wrap .tit {
  position: relative;
  display: block;
  padding-left: 95px;
  font-size: 22px;
  font-weight: 400;
  font-family: "yg750";
  color: #333;
  line-height: 1.3;
}

em {
  font-style: normal;
  color: #5e2bb8;
}

.msg__wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

.tbl {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 60px;
}

.tbl table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-collapse: separate;
  table-layout: fixed;
  font-size: 15px;
}

.tbl th {
  background-color: #f7f7f7;
  font-size: 15px;
  font-weight: 600;
  color: #111;
}

.tbl th, .tbl td {
  min-height: 54px;
  padding: 15px 20px;
  line-height: 23px;
  font-weight: 600;
}

.details__pay {
  margin-top: 60px !important;
}

p {
  margin: 0;
  line-height: 1.5;
}

.btn {
  text-align: center;
  margin-top: 60px;
}

.history__btn {
  position: relative;
  display: inline-block;
  margin: 0;
  min-width: 140px;
  height: 56px;
  line-height: 54px;
  font-size: 17px;
  padding: 0 35px;
  color: #fff !important;
  border: 1px solid #5e2bb8;
  background-color: #5e2bb8;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
}

.history__btn:hover {
  border: 1px solid #4169e1;
  background: #4169e1;
  color:#fff;
  transition: all 0.5s;
}

.foot {
  position: absolute;
  left: 0;
  width: 100%;
  background-color:#485170;
  padding: 10px 20px;
  margin-top: 60px;
}

.foot span {
font-size: 12px;
color: #ddd;
padding: 0 50px;
}

@media screen and (max-width: 768px) {
    .head, .navbar, .content, .foot {
        flex-direction: column;
    }
}