body {
  margin: 0;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 20px;
}

.head__icons {
  text-decoration: none;
  list-style: none;
  display: flex;
} 

.head__icons li {
  padding: 8px 12px;
}

.head__icons li a {
  text-align: center;
  font-size: 10px;
  color: #485170;
}

.searchform {
  width: 700px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.searchform input#search {
  width: 700px;
  height: 50px;
  background: #f0eeee;
  border: none;
  font-size: 12pt;
  font-weight: 700;
  float: left;
  color: #485170;
  padding-left: 45px;
  border-radius: 48px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.searchform input#search::-webkit-input-placeholder {
  color: #93a2ad;
}

.searchform input#search:-moz-placeholder { 
  color: #93a2ad;
}

.searchform input#search::-moz-placeholder {
  color: #93a2ad;
}

.searchform input#search:-ms-input-placeholder {
  color: #93a2ad;
 }

.searchform input#search:hover, .searchform input#search:focus, .searchform input#search:active {
  outline: none;
  background: #ffffff;
}

/* 크롬 자동완성 값 삭제 */
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 30px #fff inset; -webkit-text-fill-color: #000;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;}

.searchform .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 14px;
  z-index: 1;
  color: #93a2ad;
}

.searchform:hover .icon {
  margin-top: 14px;
  color: #485170;
}

.navbar ul{
  letter-spacing: 0.8px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #485170;
  display: flex;
  justify-content: space-around;
}

.navbar__menu li {
  display: inline;
  color: white;
}

.navbar__menu a {
  display: inline-block;
}

.navbar__menu li a {
  color: white;
  padding: 15px;
  padding-left: 206px;
  padding-right: 206px;
  font-size: 16px;
  font-weight: 600;
  font-family: "yg750";
  white-space: nowrap;
}

.navbar__menu li a:hover {
  background-color: lightgray;
  color: #000;
  text-align: center;
} 

.navbar__menu li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 480px;
  z-index: 200;
  text-align: center;     
}

.navbar__menu li ul a{
  display: block;
  height: 30px;
  font-size: 16px;
  font-style: normal; 
  font-weight: 600;
  font-family: "yg750";
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
  }

.navbar__menu li:hover ul {
  display: block;
}

  .content {
    background-color: #ffffff;
    padding: 50px 12px;
    margin: auto;
}

.overseas__trip h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.overseas__trip {
  height: 300px;
  margin: auto;
}

.trip {
    display: flex;
    justify-content: space-between;
}

.trip1 {
    width: 550px;
    height: 50px;
}

.trip2 {
    width: 350px;
    height: 50px;
}

.trip2 input {
  width: 350px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  margin-top: 5px;
  color: grey;
  font-size: 13px;
}

.trip3 {
    width: 350px;
    height: 50px;
}

.trip3 input {
  width: 350px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  margin-top: 5px;
  color: grey;
  font-size: 13px;
}

.trip4 input{
    width: 150px;
    height: 30px;
    background-color: white;
    border: 3px solid #4169e1;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.trip4 input:hover {
  background-color: #4169e1;
  color: white;
}

.re_pro  h1 {
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid #7c7b7b;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.re_pro {
    height: 250px;
    margin: auto;
}

.product {
    width: 1400px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.pro1 {
    width: 700px;
    height: 200px;
    margin: 10px 70px;
}

.pro1 img {
  width: 300px;
  height: 200px;
  transition: all 0.3s linear;
}

.pro1 img:hover {
  transform:scale(1.2);
}

.pro1 span {
  float: right;
  margin-top: 20px;
  list-style: none;
}

.pro1 span h3 {
  color: #1032ad;
  font-weight: bold;
  font-size: 20px;
}

.pro1 span li {
  color: #464545;
  font-size: 15px;
  font-weight: bold;
}

.pro2 {
    width: 700px;
    height: 200px;
}

.pro2 img {
  width: 300px;
  height: 200px;
  transition: all 0.3s linear;
}

.pro2 img:hover {
  transform:scale(1.2);
}

.pro2 span {
  float: right;
  margin-top: 20px;
  list-style: none;
}

.pro2 span h3 {
  color: #1032ad;
  font-weight: bold;
  font-size: 20px;
}

.pro2 span li {
  color: #464545;
  font-size: 15px;
  font-weight: bold;
}

.foot {
  background-color:#485170;
  padding: 10px 20px;
  margin-top: 20px;
}

.foot span {
font-size: 12px;
color: #ddd;
padding: 0 50px;
}

@media screen and (max-width: 768px) {
    .head, .navbar, .content, .foot {
        flex-direction: column;
    }
}